body {
    background-color: #0b8f3a; /* verde bandera */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


body > * {
    background-color: #ffde59; /* amarillo bandera */
    max-width: 900px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
}


h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 35px;
    border-bottom: 2px solid #0b8f3a;
    padding-bottom: 5px;
}


p {
    line-height: 1.6;
    text-align: justify;
    font-size: 16px;
}

ul {
    margin-left: 25px;
    line-height: 1.6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: white;
}

th {
    background-color: #0b8f3a;
    color: white;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}


hr {
    margin: 30px 0;
}


p:last-of-type {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}
